
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<ul>
    <li> @Html.ActionLink("English", "Change", "Language", new { LanguageAbbrevation = "en" }, null) </li>
    <li> @Html.ActionLink("Polish", "Change", "Language", new { LanguageAbbrevation = "pl" }, null) </li>
    <li> @Html.ActionLink("Romanian", "Change", "Language", new { LanguageAbbrevation = "ro" }, null) </li>

</ul>